

<!-- في المكان ده هحط footer -->
      <!-- Main Footer -->
      <footer class="main-footer">
        <strong>Copyright &copy; 2022-2023 <a href="https://www.facebook.com/abdelrahman.g.nofal">Abanoub saad</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <a target="_blank" class="text-danger" href="https://www.youtube.com/"><i class="fab fa-lg fa-youtube"></i></a>
            <a target="_blank" href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100007470915094"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
            <a target="_blank" class="text-warning" href="https://mail.google.com/mail/u/0/#inbox"><i class="fab fa-lg ml-1 fa-google"></i></a>
        </div>
      </footer>
