<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title >abanoub</title>
    </head>
    <body>
        
        {% extends 'carton.html' %} 
        {% block content %}
        
        <form method="POST">
            {% csrf_token %}
            {{bebo}}
            {% comment %} <br>
            <br>
            <input type="text" name="username" placeholder="username">
            <br>
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
 {% endcomment %}


            <input type="submit" value="login">

        </form>


        {% endblock content %}
    </body>

</html>

