*{
   margin: 0;
   padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.849);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.title{ 
    width: 80%;
    margin: auto;
}
   
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;

}
input{
    color: white;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111111cc;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    
}
input:focus{
    background: black;
    transform:scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: rgb(255, 0, 0);
    padding: 6px 2px;
    border-radius: 6px;
    margin: 0px 10px;
}
#total::before{
    content: "TOTAL : ";
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: rgb(165, 148, 0);
    color: white;
    border-radius: 20px;
    transition: 0.5s;

}
button:hover{
    background: rgb(21, 185, 3);
    letter-spacing:2px;
}
.btnSearch{
display: flex;
justify-content: space-between;
}
.btnSearch button{
width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th , td {
    padding: 5px;
}
#deleteAll{
    margin: 15px 0;
}