*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgba(15, 15, 15, 0.904);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
h1{
    color: #ffffff;
    font-size: 40px;
}
.prompt{
    background-color: #292c31;
    padding: 5px;
    width: 620px;
    border: 3px solid #36383d;
    border-radius: 20px;
}
input,button{
    padding:10px;
    border:none;
    font-size: 20px;
    border-radius: 20px;
}
input{
    background-color: #292c31; 
    width: 75%;
    outline: none;
    color: white;
}
button{
    background-color: #36383d;
    color: white;
    width: 20%;
    cursor: pointer;
}
button:hover{
    background-color: #45464a;
}
.images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.images div{
    height: 200px;
    width: 200px;
    background-color: #292c31;
    border-radius: 10px;
    border: 3px solid #36383d;
}
.images div img{
    width: 100%;
}